.pokemon-card {
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 2px;
  border: 2px solid #3b4cca;
  border-radius: 15px;
  background: linear-gradient(145deg, #cacaca, #ffde00);
  box-shadow:  5px 5px 10px #d0d0d0,
           -5px -5px 10px #f0f0f0;
}

.pokemon-image {
    width: 100px;
}
