.moves-container, .types-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.moves, .types {
  background: black;
  border-radius: 1rem;
  color: white;
  font-size: 1.2rem;
  margin: .5rem .1rem .5rem .1rem;
  padding: 0.1rem 0.6rem 0.25rem 0.6rem;
}

.pokemon-details-container {
  margin: 2rem;
  border: 1px black solid;
  padding: 1rem;
}