.features-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features {
  background: black;
  border-radius: 1rem;
  color: white;
  margin: 0 .2rem 0 .2rem;
  padding: 0.1rem 0.6rem 0.25rem 0.6rem;
}

.pokemon-details-container {
  margin: 2rem;
  border: 1px black solid;
  padding: 1rem;
}

.capitalize {
  text-transform: capitalize;
}