.error-container {
  margin: 2rem 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jigglypuff-error {
  width: 5rem;
  margin-right: 1rem;
}