.App {
  display: flex;
  flex-direction: column;
}

.search-error-message {
  font-family: 'PocketMonk';
  font-size: 35px;
  text-align: center;
  color: #ffeb3b91;
  -webkit-text-stroke: 0.5px #3b4cca;
}
