.header {
  background: #D31027;
  background: -webkit-linear-gradient(to right, #EA384D, #D31027);
  background: linear-gradient(to right, #EA384D, #D31027);

  height: 300px;
  width: 100vw;
  position: relative;
}

.header-image {
  height: 15em;
  width: 9em;
  margin-top: 10px;
  margin-left: 50%;
  /* margin-right: 46%; */
  position: relative;

}

.custom-shape-divider-bottom-1631572219 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631572219 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 201px;
}

.custom-shape-divider-bottom-1631572219 .shape-fill {
    fill: #FFFFFF;
}
