.header {
  background: #D31027;
  background: -webkit-linear-gradient(to right, #FF0000, #CC0000);
  background: linear-gradient(to right, #FF0000, #CC0000);
  height: 255px;
  width: 101%;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.nav {
  margin-top: 15px;
  width: 200px;
  font-family: 'PocketMonk';
  color: white;
}

.nav-links {
  list-style: none;
}

.how-to {
  font-size: 50px;
  color: white;
  text-decoration: none;
  -webkit-text-stroke: 2px #3b4cca;
  transition: 300ms;
  animation: vert-bounce 4.5s infinite linear;
  position: relative;
  margin: 2.5rem 0 0 -4.5rem;
}

@keyframes vert-bounce {
  0%{top: 0em}
  40%{top: 0em}
  43%{top: -0.3em}
  46%{top: 0em}
  48%{top: -0.1em}
  50%{top: 0em}
  100%{top: 0em;}
}

a:link {
  text-decoration: none;
  /* display: inline-block; */
}

/* how-to:hover {
  text-decoration: underline;
  color: yellow;
  transform: scale(2);
} */

.custom-shape-divider-bottom-1631589819 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631589819 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1631589819 .shape-fill {
    fill: #FFFFFF;
}

.header-images {
  position: relative;
  right: 140px;
}

.pokeball {
  width: 91px;
  height: 91px;
  position: absolute;
  top: 120px;
  left: 29px;
  /* animation: rotation 15s infinite linear;  */
  z-index: 1;   
}

.ash {
  margin: 20px 30px 0 0;
  height: 230px;
  width: 165px;
  position: absolute;
  /* left: 0px; */
}

@media only screen and (max-width: 700px) {
 .pokeball {
    top: 120px;
    left: 30px;
 }   

  .how-to {
    margin: -15px 0 0 -62px;
  }
}

.hidden {
  display: none;
}