.all-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    font-family: 'PocketMonk', sans-serif;
    background: white;
    height: 65vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 110px;


}
