.all-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    font-family: 'PocketMonk', sans-serif;
    background: white;
    height: 455px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 110px;
    padding: 10px;
}
