.help-container {
  margin: 0 2rem 4rem 2rem;
}

.help-header {
  font-family: 'PocketMonk';
  font-size: 50px;
  color: #ffde00;
  -webkit-text-stroke: 0.5px #3b4cca;
}

.about-header,
.help-search-header,
.help-home-header {
  font-family: 'PocketMonk';
  color: #ffde00;
  -webkit-text-stroke: 0.5px #3b4cca;
  font-size: 35px;
}

.x-icon-how {
  width: 3rem;
  margin: 0 -1.4rem 0 1rem;  
}

.x-icon-how:hover {
  transform: scale(1.09) perspective(1px);  
}

.mew-quote {
  font-family: 'PocketMonk';
  font-size: 30px;
  color: #ffde00;
  -webkit-text-stroke: 1.2px #3b4cca;
  text-align: center;
  margin-top: 4%;
}

.mew-pic {
  margin-top: 20px;
  width: 150px;   
}