.howto-container {
  display: flex;
  flex-direction: column;
  margin: 50px 10% 50px 10%;
  padding: 10px;
  border-radius: 25px;
  /* sugestion???- not sure - i don't like on iphone- it will need a @mediaQuery*/
  border: 2px solid #ec0d0d52; 
  background: linear-gradient(145deg, #e00000d1, #3b4cca);

  box-shadow: 5px 8px 19px 11px #d0d0d0, -4px -4px 10px #f0f0f0;
  text-align: center;
  color: white;
}

.howto-header {
  font-family: 'PocketMonk';
  font-size: 50px;
  color: #ffde00;
  -webkit-text-stroke: 0.5px #3b4cca;
}

.about-header,
.howto-search-header,
.howto-home-header {
  font-family: 'PocketMonk';
  color: #ffde00;
  -webkit-text-stroke: 0.5px #3b4cca;
  font-size: 35px;
}

.about-container,
.howto-search-container,
.howto-home-container {
  font-family: monospace;
  font-size: 25px;
  /* -webkit-text-stroke: 0.5px black; */
}

.x-icon-how {
  width: 3rem;
  /* margin: 0 -1.4rem 0 1rem;   */
}

.x-icon-how:hover {
  transform: scale(1.09) perspective(1px);  
}

.meowth-quote {
  font-family: 'PocketMonk';
  font-size: 30px;
  color: #ffde00;
  -webkit-text-stroke: 1.2px #3b4cca;
  text-align: center;
  margin-top: 4%;
}

.meowth-pic {
  margin-top: 20px;
  width: 150px;   
}

@media only screen and (max-width: 600px) {
  .pokemon-details-id {
    margin-top: 20px;
  }   

  .pokemon-details-page {
    margin: .5rem .5rem .5rem .5rem;
  }
}