.help-container {
  display: flex;
  flex-direction: column;
  margin: 50px 10% 50px 10%;
  padding: 10px;
  border-radius: 5px;
}

.help-header {
  font-family: 'PocketMonk';
  font-size: 50px;
  color: #ffde00;
  -webkit-text-stroke: 0.5px #3b4cca;
}

.about-header,
.help-search-header,
.help-home-header {
  font-family: 'PocketMonk';
  color: #ffde00;
  -webkit-text-stroke: 0.5px #3b4cca;
  font-size: 35px;
}

.about-container,
.help-search-container,
.help-home-container {
  font-family: monospace;
  font-size: 20px;
}

.x-icon-how {
  width: 3rem;
  margin: 0 -1.4rem 0 1rem;  
}

.x-icon-how:hover {
  transform: scale(1.09) perspective(1px);  
}

.meowth-quote {
  font-family: 'PocketMonk';
  font-size: 30px;
  color: #ffde00;
  -webkit-text-stroke: 1.2px #3b4cca;
  text-align: center;
  margin-top: 4%;
}

.meowth-pic {
  margin-top: 20px;
  width: 150px;   
}